.portfolio-button {
    margin: 0;
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: flex-start;
}

.portfolio-button>* {
    grid-area: 1/1/1/1;
}

.portfolio-button>.background {
    background-color: #ffffff;
    height: 2.25rem;
    width: 20%;
    transition: width 0.6s ease-in-out;
}

.portfolio-button>.background.expanded {
    width: 100%;
}

.portfolio-button>.portfolio-button-text {
    color: #131313;
    font-size: 1.5rem;
    margin: 0 5px;
}