body {
    background-color: #EEEEF0;
}

.terms-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}

.terms-main>.terms-container {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    margin: 0 2rem;
    gap: 7rem;
    color: #6C6C6C;
}

@media screen and (max-width: 480px) {
    .terms-main>.terms-container {
        flex-direction: column;
        margin: 0 2rem;
        gap: 7rem;
    }
}