.nav-bar {
    margin-top: 0.5rem;
    width: 100%;
}

.nav-bar.light {
    color: #131313;
}

.nav-bar.light .bottom-line {
    background-color: #131313;
}

.nav-bar.dark {
    color: #FFFFFF;
}

.nav-bar.dark .bottom-line {
    background-color: #FFFFFF;
}

.nav-bar .nav-bar-align {
    max-width: 1500px;
    margin: 0 auto;
}

.nav-bar .nav-bar-align .nav-bar-container {
    margin: 0 2rem;
}

.nav-bar .bottom-line {
    height: 1px;
    margin-top: 0.5rem;
}

.nav-bar .nav-bar-items-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.nav-bar .nav-bar-logo {
    width: 2.575rem;
    height: 3rem;
    object-fit: contain;
}

.nav-bar .nav-bar-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-items-container .nav-bar-action-icon {
    object-fit: contain;
    width: 2.5rem;
    height: 2.5rem;
}

.nav-bar-items-container.expanded #close {
    display: block;
}

.nav-bar-items-container.expanded #hamburger {
    display: none;
}

.nav-bar-items-container #close {
    display: none;
}

.nav-bar-items-container #hamburger {
    display: block;
}